.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background: linear-gradient(90deg,
    $brand-color,
    #8C93A6);
  display: flex;
  justify-content: center;
  padding-bottom: 290px;
  border-radius: 0 0 10px 10px;
}

.banner h1 {
  padding-top: 50px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 3px rgba(30, 221, 136, 0.5);
  font-size: 42px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.banner h2 {
  margin: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px rgba(30, 221, 136, 0.5);
  font-size: 42px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btn-flat{
 margin: 0 auto;
 display: block;

}
/* wave animation */

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
  padding-left: 20px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}
