.contact-card {
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
   background: linear-gradient(90deg,
     $brand-color,
     #8C93A6);
  color: #fff;
  padding: 25px;
  border-radius: 10px 10px;
  box-shadow: 2px 2px 5px rgba(30, 221, 136, 0.8);
  width: 500px;
  padding: 50px;
}


input{
  height: 45px;
}

form .submit {
  background-color: #1EDD88;
  box-shadow: 2px 2px 5px rgba(30, 221, 136, 0.8);
  color: #fff;
  font-size: 20px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #fff;
}
