body {
  background-color: #C1D3D3;
  ;
}

.heading{
  text-align: center;
  margin: 25px;
}

.main-paragraph{
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  background: $brand-color;
  color: #fff;
  padding: 25px;
  border-radius: 10px 10px;
}

.img-me{
  width: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}
